#slider {
    position: relative;
    .carousel-indicators button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    .carousel-indicators {
        position: absolute;
        right: 25rem;
        left: auto;
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    #slider {
        .carousel-indicators button {
            width: 12px;
            height: 12px;
        }
        .carousel-indicators {
            position: absolute;
            right: 20rem;

        }
    }
}

@media screen and (max-width: 46.1875em) {
    #slider {
        .carousel-indicators button {
            width: 10px;
            height: 10px;
        }
        .carousel-indicators {
            position: absolute;
            right: 10rem;

        }
    }
}