@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@font-face {
    font-family: font_back_up;
    src:
        url(./font1.woff2) format('woff2'),
        url(./font2.woff2) format('woff2'),
        url(./font3.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}
