@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --header-h: 4.7rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active, a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-top: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: font_back_up;
  src: url(./font1.woff2) format("woff2"), url(./font2.woff2) format("woff2"), url(./font3.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
* {
  font-family: "Roboto", Helvetica, "font_back_up", sans-serif;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", Helvetica, "font_back_up", sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 3rem;
}

.screen {
  background-color: white;
  width: 100%;
  height: 100%;
}

.line {
  background-color: #e4e4e4;
  height: 0.5px;
  width: 100%;
  margin: 2rem 0;
}

.slider {
  width: 100%;
}
.slider .carousel-inner .carousel-item img {
  height: 70rem;
}
.slider .carousel-caption {
  text-align: start;
  padding-bottom: 25rem;
}
.slider .carousel-caption h5 {
  font-size: 3rem;
  line-height: 4rem;
  text-transform: uppercase;
  font-weight: 500;
}
.slider .carousel-caption p {
  font-size: 1.4rem;
  line-height: 3rem;
  padding: 2rem 0;
  padding-right: 50rem;
  font-weight: lighter;
}
.slider .carousel-caption .banner-button-left {
  background-color: transparent;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  border: 2px solid white;
  margin-right: 5px;
}
.slider .carousel-caption .banner-button-left:hover {
  background-color: #1bd5c9;
}
.slider .carousel-caption .banner-button-right {
  background-color: transparent;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  border: 2px solid white;
}
.slider .carousel-caption .banner-button-right:hover {
  background-color: #1bd5c9;
}

:root {
  --nav-height: 3rem;
}

.navbar {
  background-color: black;
  height: 6rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.5rem;
  margin: 0;
}
.navbar .nav {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 0.5rem;
  line-height: 5.6rem;
  text-transform: capitalize;
  letter-spacing: 1.25px;
}
.navbar .nav a {
  color: white;
}
.navbar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .left .lower {
  text-transform: none;
}
.navbar .left .special1 {
  height: 3rem;
  border-bottom: 4px solid black;
}
.navbar .left .special2 {
  text-transform: uppercase;
  border-bottom: 4px solid black;
  line-height: 3rem;
  padding: 0.5rem;
}
.navbar .left .special2 a .fa-angles-right {
  font-size: 0.9rem;
  font-weight: 600;
}
.navbar .left .special2:hover {
  background-color: rgba(211, 215, 220, 0.511);
  opacity: 85%;
  border-radius: 7px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3rem;
}
.navbar .left ul .special3 {
  border-bottom: 4px solid red;
  font-weight: 500;
  opacity: 85%;
}
.navbar .left ul .special4 {
  border-bottom: 4px solid black;
}
.navbar .left ul .special4:hover {
  border-bottom: 4px solid red;
  opacity: 85%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.navbar .right .special5 {
  margin: 0 0.5rem;
  font-size: 1.8rem;
  line-height: 2rem;
  padding: 1rem 1rem;
}
.navbar .right .special5:hover {
  background-color: rgba(211, 215, 220, 0.656);
  opacity: 85%;
  border-radius: 7px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.navbar .right .special6 button {
  background-color: transparent;
  border: 2px solid white;
  line-height: 2rem;
  margin: 1rem 0rem;
  padding: 0.1rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
}
.navbar .right .special6 button:hover {
  -webkit-box-shadow: rgb(17, 17, 17) 0px 0px 0px 2px, rgb(255, 255, 255) 0px 0px 0px 3px;
          box-shadow: rgb(17, 17, 17) 0px 0px 0px 2px, rgb(255, 255, 255) 0px 0px 0px 3px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer {
  background-color: #5c5c5c;
  padding: 2rem 22.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer p {
  color: white;
  font-size: 1.4rem;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}
.footer-social i {
  color: white;
}

.banner {
  position: relative;
}
.banner-image {
  width: 100%;
  height: 55rem;
}
.banner-information {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 39%;
  left: 22%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.banner-information img {
  width: 15rem;
}
.banner-information h1 {
  color: white;
  font-size: 5.5rem;
  padding-top: 2rem;
}