:root {
    --nav-height: 3rem;
}
.navbar {
    background-color: black;
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    margin: 0;
    position: relative;
    .nav {
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0 0.5rem;
        line-height: 5.6rem;
        text-transform: capitalize;
        letter-spacing: 1.25px;
        a {
            color: white;
        }
    }

    .left {
        display: flex;
        align-items: center;
        gap: 1rem;

        .lower {
            text-transform: none;
        }
        .special1 {
            height: 3rem;
            border-bottom: 4px solid black;
        }

        .special2 {
            text-transform: uppercase;
            border-bottom: 4px solid black;
            line-height: 3rem;
            padding: 0.5rem;
            a .fa-angles-right {
                font-size: 0.9rem;
                font-weight: 600;
            }
            &:hover {
                background-color: rgba(211, 215, 220, 0.511);
                opacity: 85%;
                border-radius: 7px;
                transition: all 0.5s ease;
            }
        }
        ul {
            display: flex;
            align-items: center;
            gap: 1rem;
            .special3 {
                border-bottom: 4px solid red;
                font-weight: 500;
                opacity: 85%;
            }

            .special4 {
                border-bottom: 4px solid black;
                &:hover {
                    border-bottom: 4px solid red;
                    opacity: 85%;
                    transition: all 0.5s ease;
                }
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        color: white;
        .special5 {
            margin: 0 0.5rem;
            font-size: 1.8rem;
            line-height: 2rem;
            padding: 1rem 1rem;
            &:hover {
                background-color: rgba(211, 215, 220, 0.656);
                opacity: 85%;
                border-radius: 7px;
                transition: all 0.5s ease;
                cursor: pointer;
            }
        }

        .special6 {
            button {
                background-color: transparent;
                border: 2px solid white;
                line-height: 2rem;
                margin: 1rem 0rem;
                padding: 0.1rem 1rem;
                border-radius: 8px;
                font-size: 1.3rem;
                font-weight: 600;
                &:hover {
                    box-shadow:
                        rgb(17, 17, 17) 0px 0px 0px 2px,
                        rgb(255, 255, 255) 0px 0px 0px 3px;
                    transition: all 0.5s ease;
                }
            }
        }
    }

    .table {
        z-index: 999;
        color: white;
        background-color: black;
        margin: 0;
        padding: 0.5rem 1.5rem;
        width: 30rem;
        position: absolute;
        top: 6rem;
        right: 0;
        display: none;
        &-title {
            text-transform: uppercase;
            font-size: 1.8rem;
            font-weight: 600;
            opacity: 70%;
            display: flex;
            justify-content: space-between;
            max-height: 3rem;
            margin-bottom: 1rem;
        }

        &-btn {
            margin-bottom: 2rem;
            text-transform: capitalize;
            font-size: 1.7rem;
            font-weight: 600;
            &-detail {
                text-transform: capitalize;
                font-size: 1.7rem;
                font-weight: 600;
            }
        }
    }
    .table a {
        color: white;
    }

    #home > div.navbar > div.right > div:nth-child(3):hover {
        .table {
            display: block;
        }
    }
}

@media screen and (max-width: 66.5em) and (min-width: 46.25em) {
    .navbar {
        .left {
            ul {
                display: none;
            }
        }
        .table {
            width: 25rem;
        }
    }
}

@media screen and (max-width: 46.1875em) {
    .navbar {
        .left {
            ul {
                display: none;
            }
        }
        .table {
            width: 25rem;
        }
    }
}
