.banner {
    position: relative;
    &-image {
        width: 100%;
        height: 55rem;
    }

    &-information {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transform: translateY(-100%);
        padding: 0 42rem;
        img {
            width: 15rem;
        }

        h1 {
            color: white;
            font-size: 6rem;
            padding-top: 2rem;
            font-weight: 600;
        }

        h3 {
            color: white;
            font-size: 2rem;
            padding-top: 1rem;
            font-weight: 600;
        }

        .banner-information-search {
            padding: 2.5rem 0;
            display: flex;
            .space {
                width: 57rem;
                height: 5rem;
                padding: 1rem;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border: none;
            }
            .search {
                width: 9rem;
                height: 5rem;
                padding: 1rem;
                font-size: 1.9rem;
                text-transform: capitalize;
                color: white;
                font-weight: 600;
                background-color: #ce2927;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                &:hover {
                    background-color: rgb(185, 37, 35);
                }
            }
        }

        p {
            padding-top: 5rem;
            a {
                color: white;
                font-size: 1.4rem;
                span {
                    font-weight: 600;
                }
            }
        }
    }
}
